{% extends 'base_email.html' %}
{%block email%}
<div class="container">
    <img src="https://gemastudies.up.railway.app/assets/logo_completo-BxMLmImX.png" alt="GemaStudies" class="logo">
    <h2>¡Bienvenido a GemaStudies, {{ usuario }}! 🎉</h2>
    <p>Gracias por registrarte. Para activar tu cuenta y comenzar a estudiar con nosotros, haz clic en el siguiente botón:</p>
    <a href="{{ link_activacion }}" class="btn btn-primary"><span style="color: white;">Activar Cuenta</span></a>
    <p>Si el botón no funciona, copia y pega este enlace en tu navegador:</p>
    <p class="naranja small"><strong>{{ link_activacion }}</strong></p>
    <p><strong>Nota:</strong> Este enlace caduca en 10 minutos.</p>
    <hr>
    <p class="footer">Si no solicitaste este registro, ignora este mensaje.<br>GemaStudies © 2025</p>
</div>
{%endblock%}