{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container custom-container-2">

    <div class="text-center mb-4">
        <button class="btn btn-outline-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_formulario" aria-expanded="false" aria-controls="collapse_formulario">
            Importar asignaturas
        </button>
        <div class="collapse" id="collapse_formulario">
            <div class="card p-3 mt-2" style="max-width: 400px; margin: auto;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="fileInput" class="form-label">Selecciona un archivo JSON:</label>
                        <input type="file" id="fileInput" name="file" class="form-control" accept=".json">
                    </div>
                    <button type="submit" class="btn btn-primary">Subir</button>
                </form>
            </div>
        </div>
    </div>

    <div class="card card-custom mb-4"> <!-- Añadir mb-4 para separación -->
        <div class="card-body">
            <h2>Crear Asignatura</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.nombre|as_crispy_field }}
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>

    <div class="card card-custom mb-4"> <!-- Añadir mb-4 para separación -->
        <div class="card-body">
            <h2>Asignaturas Creadas</h2>
            <div class="container-fluid px-0">

                {% for asignatura in asignaturas %}
                    <div class="row align-items-center mb-2">
                        <div class="col-12 col-md-4"> <!-- Cambiar a col-12 para móviles -->
                            <a href="{% url 'vista_asignatura' asignatura.id %}" class="btn btn-primary w-100">{{ asignatura.nombre }}</a>
                        </div>
                        <div class="col-12 col-md-4"> <!-- Cambiar a col-12 para móviles -->
                            <div class="d-flex justify-content-center justify-content-md-end"> <!-- Centrar en móviles -->
                                <a href="{% url 'estudiar_asignatura' asignatura.id %}" class="btn btn-outline-primary me-2">Estudiar</a>
                                <a href="{% url 'repasar_asignatura' asignatura.id %}" class="btn btn-outline-primary me-2">Repasar</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4"> <!-- Cambiar a col-12 para móviles -->
                            <div class="d-flex justify-content-center justify-content-md-end"> <!-- Centrar en móviles -->
                                <form action="{% url 'eliminar_asignatura' asignatura.id %}" method="post" class="d-inline" onsubmit="return confirm('¿Estás seguro de que deseas eliminar la asignatura {{ asignatura.nombre|escapejs }}?');">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <p>No hay asignaturas creadas.</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}