{% extends "quiz/asignatura/asignatura_base.html" %}

{% block contenido_extra %}
    <div class="d-flex align-items-center">
        <form method="post">
            {% csrf_token %}
            <div class="d-flex align-items-center">
                <div class="my-own-form">
                    {{ form_asignatura.nombre }}
                </div>
                <button type="submit" class="btn btn-primary"><i class="bi bi-check-lg i-white"></i></button>
            </div>
        </form>
    </div>
    
    <button class="btn btn-outline-primary mb-2 mt-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_temas" aria-expanded="false" aria-controls="collapse_temas">
        Ver los temas ({{asignatura.temas.all.count}})
    </button>
{% endblock %}