{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container custom-container-2">

    <div class="text-center mb-4">
        <a class="btn btn-outline-primary mb-2" href="{% url 'exportar_asignaturas' %}">
            Descargar asignaturas
        </a>
        <button class="btn btn-outline-primary mb-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_formulario" aria-expanded="false" aria-controls="collapse_formulario">
            Importar asignaturas
        </button>
        <div class="collapse" id="collapse_formulario">
            <div class="card p-3 mt-2" style="max-width: 400px; margin: auto;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="fileInput" class="form-label">Selecciona un archivo JSON:</label>
                        <input type="file" id="fileInput" name="file" class="form-control" accept=".json">
                    </div>
                    <button type="submit" class="btn btn-primary">Subir</button>
                </form>
            </div>
        </div>
    </div>

    <div class="card card-custom mb-4">
        <div class="card-body">
            <h2>
                <a href="#collapse_crearAsignatura" data-bs-toggle="collapse" data-bs-target="#collapse_crearAsignatura" aria-expanded="false" aria-controls="collapse_crearAsignatura" class="link-no-style d-flex align-items-center">
                    Crear Asignatura
                    <i class="bi bi-chevron-down chevron-icon ms-2"></i>
                </a>
            </h2>
            <div class="collapse" id="collapse_crearAsignatura">
                <form method="post">
                    {% csrf_token %}
                    {{ form.nombre|as_crispy_field }}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="card card-custom mb-4">
        <div class="card-body">
            <h2>Asignaturas Creadas</h2>
            <div class="container-fluid px-0">

                {% for asignatura in asignaturas %}
                <div class="row align-items-center mb-2">
                    <div class="col-12 col-md-4">
                        <a href="{% url 'vista_asignatura' asignatura.id %}" class="btn btn-primary w-100">
                            {{asignatura.nombre }}
                        </a>
                    </div>
                    {% if asignatura.tiene_preguntas %}
                        <div class="col-12 col-md-4">
                            <div class="d-flex justify-content-center justify-content-md-end">
                                <a href="{% url 'estudiar_asignatura' asignatura.id %}"
                                    class="btn btn-outline-primary me-2">Estudiar</a>
                                {% if asignatura.tiene_fallos %}
                                <a href="{% url 'repasar_asignatura' asignatura.id %}"
                                    class="btn btn-outline-primary me-2">Repasar</a>
                                {% else %}
                                <a class="btn btn-outline-primary me-2 invisible">Repasar</a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-12 col-md-4">
                            <div class="d-flex justify-content-center justify-content-md-end">
                                <a class="btn btn-outline-primary me-2 invisible">Estudiar</a>
                                <a class="btn btn-outline-primary me-2 invisible">Repasar</a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-12 col-md-4">
                        <div class="d-flex justify-content-center justify-content-md-end">
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" 
                                    data-bs-target="#confirmModal" data-asignatura="{{ asignatura.nombre|escapejs }}" 
                                    data-url="{% url 'eliminar_asignatura' asignatura.id %}">
                                Eliminar
                            </button>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="row">
                    <div class="col-12 text-center">
                        <p>No hay asignaturas creadas.</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmar eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de que deseas eliminar la asignatura <span class="name-bold" id="modalAsignatura"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form id="deleteForm" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var confirmModal = document.getElementById('confirmModal');
    confirmModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var asignaturaNombre = button.getAttribute('data-asignatura');
        var url = button.getAttribute('data-url');
        document.getElementById('modalAsignatura').textContent = asignaturaNombre;
        document.getElementById('deleteForm').action = url;
    });
</script>


{% endblock %}